// fonts
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;400&display=swap');

// todo styles

html {
	min-height: 100%;
}

body {
	font-family: 'Georama', sans-serif;
	display: flex;
  	height: 100%;
  	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;
}

.title {
	color: #264653;
	font-weight: 400;
}

.todo-list {
	width: 40%;
	min-width: 15rem;
}

ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item {
	background: #eee;
	border-radius: .5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: .5rem 1rem;
	margin-bottom: .3rem;
}

.item-text {
	margin: 0 0 0 .5rem;
	width: 100%;
	overflow: ;
}

.icons {
	display: flex;
	justify-content: flex-end;
	margin-left: .5rem;
}

.icon-img {
	width: 1.2rem;
	height: 1.2rem;
	cursor: pointer;
}

.checked {
	color: #777;
	text-decoration: line-through;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
}

.edit-item-form {
	justify-content: space-between;
}

input {
	background: #eee;
	border: none;
	padding: .5rem;
}

.set-item-input {
	border-radius: .5rem 0 0 .5rem;
}

.edit-item-input {
	border-radius: .5rem;
}

button {
	background: #FF665A;
	border: none;
	padding: .5rem;
	cursor: pointer;
}

.set-item-btn {
	border-radius: 0 .5rem .5rem 0;
}

.edit-item-btn {
	border-radius: .5rem;
	margin: 0 .2rem;
}